/blog_api/venv/
/library_site/venv/
/todo/venv/

/blog_api/db.sqlite3
/library_site/project/db.sqlite3
/todo/backend/db.sqlite3

/library_site/project/api/migrations
/library_site/project/books/migrations
/blog_api/posts/migrations
/todo/backend/todos/migrations

/blog_api/blogg_project/__pycache__/
/blog_api/posts/__pycache__/
/library_site/project/api/__pycache__/
/library_site/project/books/__pycache__/
/library_site/project/library_project/__pycache__
/todo/backend/todo_project/__pycache__/
/todo/backend/todos/__pycache__/

.vscode/* 
!.vscode/settings.json 
!.vscode/tasks.json 
!.vscode/launch.json 
!.vscode/extensions.json 
.history

__pycache__

*.log
*.pot
*.pyc